<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049271152013-7bgvpb24l5gm126459eddm6r00j00dnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049271152013-7bgvpb24l5gm126459eddm6r00j00dnu</string>
	<key>API_KEY</key>
	<string>AIzaSyAVeNTV48cdi9xJO1nPF5VQDHwwVwKH06c</string>
	<key>GCM_SENDER_ID</key>
	<string>1049271152013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tis.carwahs</string>
	<key>PROJECT_ID</key>
	<string>carwash-efb5d</string>
	<key>STORAGE_BUCKET</key>
	<string>carwash-efb5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049271152013:ios:ae6855a987aceee0</string>
	<key>DATABASE_URL</key>
	<string>https://carwash-efb5d.firebaseio.com</string>
</dict>
</plist>