<ion-menu [content]="content" class="side-menu">
  <ion-header style="    padding: 10px 0px;">
    <ion-toolbar>
      <ion-title class="side-title">
        <ion-icon name="contact" style="    font-size: 45px;
        vertical-align: middle;     margin-right: 6px;"></ion-icon> {{user.first_name}} {{user.last_name}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="goToPage('PagesPagesListCarPage')">
        <ion-icon name="car"></ion-icon>
        Carros
      </button>
      <button ion-item (click)="goToPage(friendsPage)">
        <ion-icon name="card"></ion-icon>
        Formas de pagamento
      </button>
      <button ion-item (click)="goToPage('PagesEditCheckingAccountPage')">
        <ion-icon ios="ios-browsers" md="md-browsers"></ion-icon>
        Conta
      </button>
      <button ion-item (click)="logout()">
        <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
        Sair
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<ion-header class="bg-ligth">
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngIf="user.is_customer != 1">
      <ion-label>Disponível para oportunidades?</ion-label>
      <ion-toggle [(ngModel)]="is_active" (ionChange)="handleActivationButton()"></ion-toggle>
    </ion-item>
  </ion-list>

  <div *ngIf="handleServiceRequestButton()" class="infos">
    <ion-card>
      <ion-card-header>
        <ion-icon style="color: rgb(228, 194, 1); margin-right: 5px;" name="notifications"></ion-icon>
        Preço de hoje R$ {{PRICE * 0.9}}
      </ion-card-header>
      <ion-card-content>
        Foi aplicado 10% de desconto, aproveite!
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-icon style="margin-right: 5px;" color="secondary" name="checkmark-circle"></ion-icon>
        Solicite um serviço
      </ion-card-header>
      <ion-card-content>
        Clique em solcitar serviço e deixe seu carro brilhando! Iremos providenciar um prestador de serviço para você.
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="user.is_customer != 1 && !cleanerInService" class="infos">
    <ion-card *ngIf="is_active">
      <ion-card-header>
        <ion-icon style="color: rgb(40, 115, 228); margin-right: 5px;" name="information-circle"></ion-icon>
        Você está disponível!
      </ion-card-header>
      <ion-card-content>
        Iremos te notificar quando alguem solicitar uma lavagem!
      </ion-card-content>

    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-icon style="color: rgb(228, 194, 1); margin-right: 5px;" name="notifications"></ion-icon>
        Ganhe R$ {{PRICE - 5}} por lavagem hoje!
      </ion-card-header>
      <ion-card-content>
        Esse é o valor que você ganha a cada oportunidade concluída. Os preços são dinâmicos e podem mudar, fique
        atento!
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!is_active">
      <ion-card-header>
        <ion-icon style="margin-right: 5px;" color="secondary" name="checkmark-circle"></ion-icon>
        Habilite as oportunidades!
      </ion-card-header>
      <ion-card-content>
        Clique em 'Disponível para oportunidade' para receber serviços.
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="user.is_customer == 1 && serviceFound" class="cards">

    <ion-card *ngFor="let track of serviceTracking">
      <ion-card-header>
        <ion-icon color="secondary" name="checkmark-circle"></ion-icon>
        {{track.serviceStatus}}
      </ion-card-header>
    </ion-card>

  </div>

  <div *ngIf="user.is_customer != 1 && cleanerInService" class="cards">

    <ion-card *ngFor="let info of trackingInfos">

      <ion-item>
        <ion-label>{{info.message}}</ion-label>
        <ion-checkbox (click)="sendServiceInfo(info)" color="secondary" disabled="{{info.disabled}}"></ion-checkbox>
      </ion-item>

    </ion-card>

  </div>

  <div class="service-box">
    <button *ngIf="handleServiceRequestButton()" (click)="sendServiceRequest()" class="btn btn-service">Solicitar
      serviço</button>
  </div>
  <div *ngIf="waitForService" class="service-box">
    <ion-spinner name="dots"></ion-spinner>
    <p [ngStyle]="{'margin': '0px'}">Buscando lavadores disponíveis</p>
  </div>
  <div *ngIf="serviceFound" class="service-box">
    <p>Sua solicitação foi aceita!</p>
    <p>
      <ion-icon ios="ios-person" md="md-person"> {{serviceResponse.first_name}} {{serviceResponse.last_name}}
      </ion-icon>
    </p>
    <p>
      <ion-icon ios="ios-call" md="md-call"> {{serviceResponse.phone}} </ion-icon>
    </p>
  </div>

  <div *ngIf="cleanerInService" class="service-box">
    <p>Dados do Cliente:</p>

    <p>
      <ion-icon ios="ios-person" md="md-person"> {{opportunity.first_name}} {{opportunity.last_name}}
      </ion-icon>
    </p>
    <p>

      <ion-icon ios="ios-call" md="md-call"> {{opportunity.phone}} </ion-icon>
    </p>
    <p>
      <ion-icon ios="ios-car" md="md-car"> {{opportunity.model}} </ion-icon>
    </p>
    <p>
      {{opportunity.plate}}
    </p>

  </div>

</ion-content>